body {
    background-color: #a8a8a8;
}


.promo {
    background: url('img/Mainbg.jpg') center center / cover no-repeat;
    padding-top: 22px;
    padding-bottom: 50px;
}


.container{
    width: 1140px;
    margin: auto;
}


.title {
    text-transform: uppercase;
    text-align: center;
}

.title__big {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
  
}

.title__colored {
    color: #F9BF3B;
    font-size: 41px;
    font-weight: 900;
    line-height: 41px;
}


.logo__img{
    display: block;
    margin: 0 auto;
}

.logo__text{
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.img__lol{
    display: block;
    margin: 0 auto;
}

.text__lol{
    text-align: center;
    color: #FFFFFF;
text-transform: uppercase;
}
